{% extends "::base.html.twig"%}
{% block title%}Page traisorerie{% endblock %}
{% block body %}
    <div class="col-md-12">
        <div class="titre">Gestion du tresorerie</div>
        <ul class="nav nav-pills">
            <li id="caisse_univ" ><a href="{{ path('home_caisse_universite') }}">Université</a></li>
            <li id="caisse_lycee"><a href="{{ path('home_caisse_lycee') }}">Lycée</a></li>
        </ul>
        <div>
            {% block tresor_body %}{% endblock %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        var nav = document.getElementById("tresor_menu");
        nav.className +="actif";
    </script>
{% endblock %}