{% extends "MascaEtudiantBundle::admin-lycee.html.twig" %}
{% block title %}Ajouter matiere emploi du temps{% endblock %}
{% block admin_lycee_body %}
    <h5>Création/modification matierer emploi du temps lycée</h5>
    {{ jour }} à {{ heure }}
    <form method="post">
        {{ form_widget(form) }}
        <div class="align-right">
            <input type="submit" class="btn" value="Ajouter">
            <a href="{{ path('emploi_du_temps_lycee',{'id':classeId}) }}" class="btn">Annuler</a>
        </div>
    </form>
{% endblock %}