{% extends "MascaEtudiantBundle::admin-universite.html.twig" %}
{% block admin_univ_body %}
    <form method="post">
        {{ form_widget(filiereForm) }}
        <div class="align-right">
            <input type="submit" value="Enregistrer" class="btn">
            <a class="btn" href="{{ path('admin_univ_filiere') }}">Annuler</a>
        </div>
    </form>
{% endblock%}