{% extends "MascaEtudiantBundle::admin-universite.html.twig" %}
{% block admin_univ_body %}
    <h5>Création/modification ue</h5>
    {% if error_message is defined %}
        <p style="color: red "> {{ error_message }}</p>
    {% endif %}
    <form method="post">
        {{ form_widget(form) }}
        <div class="align-right">
            <input type="submit" value="Enregistrer" class="btn">
            <a class="btn" href="{{ path('repartition_unite_enseignement_univeriste') }}">Annuler</a>
        </div>
    </form>
{% endblock%}