/*
**
* @ file: La mise en page css à utiliser
* @author : Rakotomahefa David & Rajaonarison Alain Patrick
**
*/
@import url('bootstrap.css');
@import url('bootstrap-theme.css');

.clearfix{ clear: both;}
.align-right {
  text-align: right !important;
}
.align-center {
	text-align: center !important;
}
.entete-wrapper{
	background: url('./../assets/bg-entete.png');
	background-repeat: repeat-x;
	height: 100px;
}
.content-wrapper{
	margin-bottom: 50px;
}
.footer-wrapper{
	background: url('../assets/bg-footer.png');
	background-repeat: repeat-x;
	height: 60px;
	padding:5px 5px;
	margin-top: 20px;
	color: #fff;
	text-align: center;
}
.logo-home{
	width: 120px;
}
.slogan{
	padding-top: 40px;
    color: #fff;
}
.main-menu li{
	float: left;
	padding:  5px 20px;
	text-transform: uppercase;
	font-weight: bold;
	list-style: none;
}

.floatleft{ float: left;}
.floatright{float: right;}
.icon-main-menu{ /*height: 40px;*/ text-align: center;}
.main-menu li div{ padding-right: 0 !important; padding-left: 0 !important; text-align: center; color: #0606a2;}
.icon-main-menu img{ width: auto; height: 100%; margin: 0 auto;}
.zone-bordered{
	border: 1px solid #0606a2;
	border-radius: 10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	min-height: 400px;
}
.milieupage{ 
	padding: 5px;
    margin-bottom: 20px;
}
.grid{
	float: left;
	margin: 5px;
	border: 1px solid #000;
	width: 100px;
	height: 100px;
	text-align: center;
	padding: auto;
}
.menu{
	list-style: none;
}
.menu li{
	width: 100%;
}
.main-menu .actif div{ color: #fff !important;}
.actif{
	color: #fff !important;
	background: #069BA2;
	border-radius: 10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}
.main-menu li:hover{
	background: #ccc;
	border-radius: 10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.grid-full{
	width: 100%;
	height: auto;
	border: none;
}
.grid-half{
	width: 45%;
	margin: 5px;
	height: auto;
	border: none;
}
.grid-tier{
	width: 30%;
	margin: 5px;
	height: auto;
	border: none;
}
.grid-quart{
	width: 20%;
	margin: 5px;
	height: auto;
	border: none;
}
.grid-half img{ width: 20%;}
.grid-full div{ text-align: center;}
.icon-edu{ min-width: 100%;}
.icon-flat{ width: 40%;}
.icon-full{ width: 100%;}
.primaire{
	background:url('../assets/primaire.png');
	background-position: top center;
	background-repeat: no-repeat;
}
.college{
	background:url('../assets/college.png');
	background-position: top center;
	background-repeat: no-repeat;
}
.lycee{
	background:url('../assets/lycee.png');
	background-position: top center;
	background-repeat: no-repeat;
}
.universite{
	/*background:url('../assets/universite.png');*/
	background-position: top center;
	background-repeat: no-repeat;
}
.titre{
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid #000;
	margin: 5px 0;
}
#tableshow{
	table-layout: fixed;
}
#tableshow th {
    word-break: break-all;
    
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
/* Classe obligatoire pour les flèches */
.flecheDesc {
  width: 0; 
  height: 0; 
  float:right;
  margin: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}
.flecheAsc {
  width: 0; 
  height: 0;
  float:right;
  margin: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}
.avectri th.selection {background-color:#5d625c;color:#fff;}
.avectri th.selection .flecheDesc {border-bottom-color: white;}
.avectri th.selection .flecheAsc {border-top-color: white;}
.zebre tbody td:nth-child(3) {text-align:center;}
.link-text{ margin: 10px 5px;}
.thumbs{
	width: 20px;
}
table tbody tr td{
	overflow: hidden;
}
#editlyceen, #edituniversitaire, #ecolage{
	z-index: 9999 !important;
}
#infos table{
	margin-bottom:10px;
}
#infos table tr{
	border-bottom: 1px solid #ccc;
}
#infos table tr td{
	text-align: right;
	padding:2px 5px 2px 0;
}
#infos fieldset label{
	text-transform: uppercase;
	font-weight:bold;
	text-align: center;
}
.modal {
	max-height: 98%;
	overflow-y: scroll;
}

#person_dateNaissance_day,
#person_dateDelivranceCin_day ,
#lyceen_dateReinscription_day,
#son_filiere_dateReinscription_day,
#absence_lyceen_dateAbsent_day,
#retard_lyceen_dateRetard_day,
#absence_univ_dateAbsent_day,
#retard_univ_dateRetard_day,
#status_dateEmbauche_day,
#absence_employe_dateAbsent_day,
#date_payement_eco_lycee_datePayement_day,
#date_payement_eco_univ_datePayement_day,
#pointage_enseignant_date_day
{
	width: 65px !important;
	margin: 2.5px !important;
}
#person_dateNaissance_month,
#person_dateDelivranceCin_month,
#lyceen_dateReinscription_month,
#son_filiere_dateReinscription_month,
#absence_lyceen_dateAbsent_month,
#retard_lyceen_dateRetard_month,
#absence_univ_dateAbsent_month,
#retard_univ_dateRetard_month,
#status_dateEmbauche_month,
#absence_employe_dateAbsent_month,
#date_payement_eco_lycee_datePayement_month,
#date_payement_eco_univ_datePayement_month,
#pointage_enseignant_date_month
{
	width: 100px !important;
	margin: 2.5px !important;
}
#person_dateNaissance_year,
#person_dateDelivranceCin_year,
#lyceen_dateReinscription_year,
#son_filiere_dateReinscription_year,
#absence_lyceen_dateAbsent_year,
#retard_lyceen_dateRetard_year,
#absence_univ_dateAbsent_year,
#retard_univ_dateRetard_year,
#status_dateEmbauche_year,
#absence_employe_dateAbsent_year,
#date_payement_eco_lycee_datePayement_year,
#date_payement_eco_univ_datePayement_year,
#pointage_enseignant_date_year
{
	width: 80px !important;
	margin: 2.5px !important;
}

#retard_lyceen_heure_hour,
#retard_lyceen_heure_minute,
#retard_univ_heure_hour,
#retard_univ_heure_minute,
#pointage_enseignant_heureDebut_hour,
#pointage_enseignant_heureDebut_minute,
#pointage_enseignant_heureFin_hour,
#pointage_enseignant_heureFin_minute {
	width: 100px !important;
	margin: 2.5px !important;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	width: 89%;
}
#formpaiement select,
#formpaiement textarea,
#formpaiement input[type="text"],
#formpaiement input[type="password"],
#formpaiement input[type="email"],
#formpaiement input[type="url"],
#formpaiement input[type="search"],
#formpaiement input[type="tel"],
#formpaiement input[type="color"],
#formpaiement .uneditable-input {
	width: 100%;
}

#formpaiement input[type="number"]{ width:95%;}
#inscriptionuniv select{ width:93%;}
#form_dateNaissance select, #form_dateReinscription select, #form_dateDelivranceCin select{width: 30%;}

.float_menu {
	height: 20px;
}
.float_menu ul{
	display: none;
	position: absolute;
	z-index: 10;
	margin: -2px 0 0 0;
}
.float_menu:hover ul{
	display: block;
	background: #c9e2b3;
}

.info_bulle span {
	display: none;
	position: absolute;
	z-index: 10;
	margin: -2px 0 0 0;
}

.info_bulle:hover span {
	display: block;
	border: 1px;
	border-radius: 5px;
	background-color: greenyellow;
}

#absence_lyceen_partieJournee,
#absence_univ_partieJournee,
#absence_employe_partieJournee,
#status_permanent
{
	display: inline-flex;
}

div#absence_lyceen_partieJournee, div#absence_univ_partieJournee, div#absence_employe_partieJournee
input, label {
	margin: 10px;
}

.submit-style {
	margin: 25px;
}

.custom-margin {
	margin: 5px;
}

table, tr, td, th, tbody, thead, tfoot {
	page-break-inside: avoid;!important;
}

.loading {
	width: 25px;
}