{% extends "MascaPersonnelBundle::layout.html.twig" %}
{% block personnel_body %}
    <h3>Suivi payement de {{ employer.person.nom }} {{ employer.person.prenom }}</h3>
    <div class="row link-text  floatleft">
        <a href="{{ path('details', {'id': employer.id}) }}">
            <img title="Retour" src="{{ asset('assets/cancel.png') }}">
        </a>
        <a href="" class="btn btn-primary">Payer</a>
        <a href="" class="btn btn-primary">Retirer avance</a>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="span6">
            <fieldset>
                <legend>Payement</legend>

            </fieldset>
        </div>
        <div class="span6">
            <fieldset>
                <legend>Avance sur salaire</legend>
            </fieldset>
        </div>
    </div>
{% endblock %}
