{% extends "MascaEtudiantBundle::layout.html.twig" %}
{% block etudiant_body %}
    <h3>Page de modification des informations concernant l'étudiant</h3>
    <form method="post">
        <div class="row">
            <div class="span4">
                <fieldset>
                    <legend>Etat civil</legend>
                    {{ form_widget(personForm) }}
                </fieldset>
            </div>
            <div class="span4">
                <fieldset>
                    <legend>Étude</legend>
                    {{ form_widget(etudeForm) }}
                </fieldset>
            </div>
            <div class="span4">
                <fieldset>
                    <legend>Complémentaire</legend>
                    {{ form_widget(infoEtudiantForm) }}
                </fieldset>
            </div>
        </div>
        <div class="align-right">
            <input type="submit" value="Enregistrer" class="btn btn-primary">
            <a href="{{ path('details_lyceen', {'id':lyceenId}) }}" class="btn btn-primary">Annuler</a>
        </div>
    </form>
{% endblock %}